<launch>
  <include file="$(find msd_pose_estimation)/launch/imu_filter.launch" />
  
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_local">
    <rosparam command="load" file="$(find msd_pose_estimation)/config/ekf_localization_config.yaml" />
    <remap from="/odometry/filtered" to="/odometry/filtered" />
  </node>
</launch>
